section {
    border: 2px solid black;
    background-color:#8FDBA9;
    margin: 20px;
}

header {
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    background-color:#8FDBA9
}

#hyperlinks {
    list-style-type: none;
}

h1 {
    float: left;
    padding-left: 300px;
    padding-right: 200px;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    padding-left: 370px;
    font-style:italic;
}

h3 {
    font-style:italic;
    font-size: 30px;
    padding-left: 370px;
}

p {
    margin: 20px;
}

img {
    width: 200px;
    border: 2px solid black;
    height: 200px;
    margin: 20px;
    margin-left: 40px;
}


/* id selector */
#smalldog {
    float: left;
}

/* class selector */
.dog-types{
    float: right;
    padding-right: 200px;
    font-size: 30px;
}



nav {
    padding: 10px;
}

body {
    padding: 30px;
    background-color: rgb(226, 226, 226);
}

footer {
    margin-top: 200px;
}