section {
    border: 2px solid #2f3e46;
    background-color:#84a98c;
    margin: 20px;
    border-radius: 25px;
    color: #2f3e46;
}

header {
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #2f3e46;
    background-color:#84a98c;
}

#hyperlinks {
    list-style-type: none;
    padding-left:95%;
}

h1 {
    float: left;
    padding-left:44%;
    padding-right: 200px;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
    color: #2f3e46;
}

h2 {
    font-size: 30px;
    padding-left:45%;
    font-style:italic;
    color: #2f3e46;
}

h3 {
    font-style:italic;
    font-size: 30px;
    padding-left:45%;
}

p {
    margin: 20px;
    font-size: 25px;
    color: #2f3e46;
}

#user-name {
    margin: 20px;
    font-size: 25px;
    font-style: italic;
}

img {
    width: 200px;
    border: 2px solid #2f3e46;
    height: 200px;
    margin: 20px;
    margin-left: 40px;
}


/* id selector */
#smalldog {
    float: left;
}

/* class selector */
.dog-types{
    float: right;
    padding-right: 200px;
    font-size: 30px;
    color: #2f3e46;
}


nav {
    padding: 10px;
}

body {
    padding: 30px;
    background-color: #cad2c5;
}

footer {
    margin-top: 200px;
}

#rating {
    padding-left: 20%;
}